/* ---------------------------- zh-hans ---------------------------- */
/* ------ sans-serif ------ */
@font-face {
	font-family: 'zh-hans-sans';
	font-style: normal;
	font-weight: 200;
	src:	local('NotoSansCJKsc-Thin'),
			local('SourceHanSansCN-ExtraLight'),
			local('HiraginoSansGB-W3'),
			local('STHeitiSC-Light'),
			local('Microsoft YaHei');
}
@font-face {
	font-family: 'zh-hans-sans';
	font-style: normal;
	font-weight: 300;
	src:	local('NotoSansCJKsc-Light'),
			local('SourceHanSansCN-Light'),
			local('HiraginoSansGB-W3'),
			local('STHeitiSC-Light'),
			local('Microsoft YaHei');
}
@font-face {
	font-family: 'zh-hans-sans';
	font-style: normal;
	font-weight: 400;
	src:	local('NotoSansCJKsc-DemiLight'),
			local('SourceHanSansCN-Normal'),
			local('HiraginoSansGB-W3'),
			local('STHeitiSC-Light'),
			local('Microsoft YaHei');
}
@font-face {
	font-family: 'zh-hans-sans';
	font-style: normal;
	font-weight: 500;
	src:	local('NotoSansCJKsc-Regular'),
			local('SourceHanSansCN-Regular'),
			local('HiraginoSansGB-W3'),
			local('STHeitiSC-Medium'),
			local('Microsoft YaHei');
}
@font-face {
	font-family: 'zh-hans-sans';
	font-style: normal;
	font-weight: 600;
	src:	local('NotoSansCJKsc-Medium'),
			local('SourceHanSansCN-Medium'),
			local('HiraginoSansGB-W6'),
			local('STHeitiSC-Medium'),
			local('Microsoft YaHei');
}
@font-face {
	font-family: 'zh-hans-sans';
	font-style: normal;
	font-weight: 700;
	src:	local('NotoSansCJKsc-Bold'),
			local('SourceHanSansCN-Bold'),
			local('HiraginoSansGB-W6'),
			local('STHeitiSC-Medium'),
			local('Microsoft YaHei');
}
@font-face {
	font-family: 'zh-hans-sans';
	font-style: normal;
	font-weight: 800;
	src:	local('NotoSansCJKsc-Black'),
			local('SourceHanSansCN-Heavy'),
			local('HiraginoSansGB-W6'),
			local('STHeitiSC-Medium'),
			local('Microsoft YaHei');
}

@font-face {
	font-family: 'zh-hans-sans';
	font-style: italic;
	font-weight: 200;
	src:	local('NotoSansCJKsc-Thin'),
			local('SourceHanSansCN-ExtraLight'),
			local('HiraginoSansGB-W3'),
			local('STHeitiSC-Light'),
			local('Microsoft YaHei');
}
@font-face {
	font-family: 'zh-hans-sans';
	font-style: italic;
	font-weight: 300;
	src:	local('NotoSansCJKsc-Light'),
			local('SourceHanSansCN-Light'),
			local('HiraginoSansGB-W3'),
			local('STHeitiSC-Light'),
			local('Microsoft YaHei');
}
@font-face {
	font-family: 'zh-hans-sans';
	font-style: italic;
	font-weight: 400;
	src:	local('NotoSansCJKsc-DemiLight'),
			local('SourceHanSansCN-Normal'),
			local('HiraginoSansGB-W3'),
			local('STHeitiSC-Light'),
			local('Microsoft YaHei');
}
@font-face {
	font-family: 'zh-hans-sans';
	font-style: italic;
	font-weight: 500;
	src:	local('NotoSansCJKsc-Regular'),
			local('SourceHanSansCN-Regular'),
			local('HiraginoSansGB-W3'),
			local('STHeitiSC-Medium'),
			local('Microsoft YaHei');
}
@font-face {
	font-family: 'zh-hans-sans';
	font-style: italic;
	font-weight: 600;
	src:	local('NotoSansCJKsc-Medium'),
			local('SourceHanSansCN-Medium'),
			local('HiraginoSansGB-W6'),
			local('STHeitiSC-Medium'),
			local('Microsoft YaHei');
}
@font-face {
	font-family: 'zh-hans-sans';
	font-style: italic;
	font-weight: 700;
	src:	local('NotoSansCJKsc-Bold'),
			local('SourceHanSansCN-Bold'),
			local('HiraginoSansGB-W6'),
			local('STHeitiSC-Medium'),
			local('Microsoft YaHei');
}
@font-face {
	font-family: 'zh-hans-sans';
	font-style: italic;
	font-weight: 800;
	src:	local('NotoSansCJKsc-Black'),
			local('SourceHanSansCN-Heavy'),
			local('HiraginoSansGB-W6'),
			local('STHeitiSC-Medium'),
			local('Microsoft YaHei');
}

/* ---------------------------- zh-hant ---------------------------- */
/* ------ sans-serif ------ */
@font-face {
	font-family: 'zh-hant-sans';
	font-style: normal;
	font-weight: 200;
	src:	local('NotoSansCJKtc-Thin'),
			local('SourceHanSansTW-ExtraLight'),
			local('HiraginoSansGB-W3'),
			local('STHeitiTC-Light'),
			local('Microsoft YaHei');
}
@font-face {
	font-family: 'zh-hant-sans';
	font-style: normal;
	font-weight: 300;
	src:	local('NotoSansCJKtc-Light'),
			local('SourceHanSansTW-Light'),
			local('HiraginoSansGB-W3'),
			local('STHeitiTC-Light'),
			local('Microsoft YaHei');
}
@font-face {
	font-family: 'zh-hant-sans';
	font-style: normal;
	font-weight: 400;
	src:	local('NotoSansCJKtc-DemiLight'),
			local('SourceHanSansTW-Normal'),
			local('HiraginoSansGB-W3'),
			local('STHeitiTC-Light'),
			local('Microsoft YaHei');
}
@font-face {
	font-family: 'zh-hant-sans';
	font-style: normal;
	font-weight: 500;
	src:	local('NotoSansCJKtc-Regular'),
			local('SourceHanSansTW-Regular'),
			local('HiraginoSansGB-W3'),
			local('STHeitiTC-Medium'),
			local('Microsoft YaHei');
}
@font-face {
	font-family: 'zh-hant-sans';
	font-style: normal;
	font-weight: 600;
	src:	local('NotoSansCJKtc-Medium'),
			local('SourceHanSansTW-Medium'),
			local('HiraginoSansGB-W6'),
			local('STHeitiTC-Medium'),
			local('Microsoft YaHei');
}
@font-face {
	font-family: 'zh-hant-sans';
	font-style: normal;
	font-weight: 700;
	src:	local('NotoSansCJKtc-Bold'),
			local('SourceHanSansTW-Bold'),
			local('HiraginoSansGB-W6'),
			local('STHeitiTC-Medium'),
			local('Microsoft YaHei');
}
@font-face {
	font-family: 'zh-hant-sans';
	font-style: normal;
	font-weight: 800;
	src:	local('NotoSansCJKtc-Black'),
			local('SourceHanSansTW-Heavy'),
			local('HiraginoSansGB-W6'),
			local('STHeitiTC-Medium'),
			local('Microsoft YaHei');
}
